.userMenuBox {
  display: flex;
  align-items: center;
}

.welcomeUser {
  font-size: 25px;
  font-weight: 700;
  color: rgb(32, 31, 31);
  margin-right: 15px;
}

.contact__delete {
  display: inline-block;
  border-radius: 4px;
  background-color: #f4511e;
  border: none;
  color: #ffffff;
  text-align: center;
  font-size: 18px;
  padding: 0px;
  width: 100px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}

.contact__delete span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.contact__delete span:after {
  content: "\00bb";
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.contact__delete:hover span {
  padding-right: 25px;
}

.contact__delete:hover span:after {
  opacity: 1;
  right: 0;
}
